Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Fast, language-agnostic framework for Git hooks
# Install with: lefthook install
# Run manually with: lefthook run pre-commit

version: 2

# Global settings for all hooks
global:
  # Only run on changed files, not the entire repo
  env:
    # Set working directory context
    GOFLAGS: "-v"

# Pre-commit hook - runs before each commit
pre-commit:
  # Stage changed files for cleanup after hook runs
  follow: true

  parallel: false

  commands:
    # Go formatting check - must pass or commit is blocked
    gofmt:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: gofmt -w {staged_files} && git add {staged_files}
      description: "Format Go code with gofmt"

    # Import formatting - organize and clean imports
    goimports:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if goimports is installed
        if ! command -v goimports &> /dev/null; then
          echo "goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest"
          exit 0
        fi
        goimports -w {staged_files} && git add {staged_files}
      description: "Organize and format Go imports"
      stage_fixed: true

    # Go vet static analysis
    govet:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: go vet ./...
      description: "Run go vet for static analysis"

    # Basic Go linting with staticcheck (must be fast)
    staticcheck:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if staticcheck is installed
        if ! command -v staticcheck &> /dev/null; then
          echo "staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest"
          exit 0
        fi
        staticcheck -checks=all ./...
      description: "Run staticcheck for static analysis"

    # Security check with gosec
    gosec:
      glob: "*.go"
      exclude: "^(vendor/|test/|web/)"
      run: |
        # Check if gosec is installed
        if ! command -v gosec &> /dev/null; then
          echo "gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest"
          exit 0
        fi
        gosec -quiet -no-fail -exclude=G304,G204 ./internal/...
      description: "Check Go code for security issues"

    # JavaScript syntax validation
    js-syntax:
      glob: "web/**/*.js"
      run: |
        # Validate JavaScript syntax without running code
        for file in {staged_files}; do
          if ! node --check "$file" 2>/dev/null; then
            echo "Syntax error in $file"
            exit 1
          fi
        done
      description: "Validate JavaScript syntax"

    # JavaScript CommonJS check
    js-commonjs:
      glob: "web/**/*.js"
      run: |
        # Check for CommonJS patterns that shouldn't be in ES modules
        if grep -n "module.exports\|require(" {staged_files} 2>/dev/null | grep -v "// @allow-commonjs"; then
          echo "Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional"
          exit 1
        fi
      description: "Ensure ES module syntax"

# Pre-push hook - runs before pushing to remote (optional, informational)
# Uncomment to enable additional checks before push
# pre-push:
#   commands:
#     check-tests:
#       run: make test
#       description: "Run test suite before push"
#       stage_fixed: false

Remove unused doc files
  docs/site/hosted-mode.md
  docs/site/install.md
  docs/site/local-mode.md
Due: none

Fix CI artifact names for renamed binaries
  .github/workflows/ci.yml
  .goreleaser.yml
  Makefile
  cmd/cli/update.go
  scripts/install.sh
Due: gofmt, goimports, govet, staticcheck, gosec

Harden hosted repo access and sanitize clone URLs
  internal/repomanager/clone.go
  internal/repomanager/manager.go
  internal/repomanager/manager_test.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/hosted_auth.go
  internal/server/hosted_store.go
  internal/server/middleware.go
  internal/server/repo_handlers.go
  internal/server/repo_handlers_test.go
  internal/server/server.go
  internal/server/static_handler_test.go
  security_best_practices_report.md
  web/apiBase.js
  web/apiFetch.js
  web/gitvista/app.js
  web/gitvista/routes.js
  web/gitvista/routes.test.js
  web/landing/repoBrowser.js
  web/site/app.js
  web/site/hostedAccess.js
  web/site/repoLanding.js
  web/site/repoLoadingView.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Escape analytics hotspot rendering
  web/analyticsView.js
Due: none

Validate managed repo IDs and tighten local websocket origins
  internal/repomanager/manager.go
  internal/repomanager/manager_test.go
  internal/server/websocket.go
  internal/server/websocket_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Self-host frontend assets and enforce security headers
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/server.go
  web/hljs.js
  web/local/index.html
  web/site/index.html
  web/vendor/dockview/dockview-core.esm.js
  web/vendor/dockview/dockview.css
  web/vendor/highlight/github-dark.min.css
  web/vendor/highlight/github.min.css
  web/vendor/highlight/highlight.min.js
  web/workbench.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Add PostgreSQL-backed hosted store
  cmd/site/main.go
  docs/site/config.md
  internal/app/site/app.go
  internal/server/hosted_store.go
  internal/server/hosted_store_factory.go
  internal/server/hosted_store_factory_test.go
  internal/server/hosted_store_postgres.go
  internal/server/server.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix make cloc
  Makefile
Due: none

Version hosted store schema migrations
  internal/server/hosted_store_migrations.go
  internal/server/hosted_store_migrations_test.go
  internal/server/hosted_store_postgres.go
Due: gofmt, goimports, govet, staticcheck, gosec

Persist hosted accounts and memberships
  internal/server/account_handlers.go
  internal/server/account_handlers_test.go
  internal/server/hosted_store.go
  internal/server/hosted_store_migrations.go
  internal/server/hosted_store_migrations_test.go
  internal/server/hosted_store_postgres.go
  internal/server/server.go
Due: gofmt, goimports, govet, staticcheck, gosec

Use Goose for hosted store migrations
  internal/server/hosted_store_goose.go
  internal/server/hosted_store_goose_test.go
  internal/server/hosted_store_migrations.go
  internal/server/hosted_store_migrations_test.go
  internal/server/migrations/hosted/00001_create_hosted_accounts.sql
  internal/server/migrations/hosted/00002_create_hosted_repositories.sql
  internal/server/migrations/hosted/00003_create_hosted_users.sql
  internal/server/migrations/hosted/00004_create_account_memberships.sql
Due: gofmt, goimports, govet, staticcheck, gosec

go mod tidy
  go.mod
  go.sum
Due: none

Initial extraction of gitcore
  .golangci.yml
  gitcore/gitcore.go
  gitcore/hash.go
  gitcore/objects.go
  gitcore/pack.go
  gitcore/refs.go
  gitcore/repository.go
  gitcore/signature.go
  gitcore/stash.go
  gitvista.go
Due: gofmt, goimports, govet, staticcheck, gosec

Comprehensive gitcore testing
  AGENTS.md
  gitcore/objects_test.go
  gitcore/pack.go
  gitcore/pack_index.go
  gitcore/pack_reader_test.go
  gitcore/pack_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Split files in gitcore
  .golangci.yml
  Makefile
  gitcore/object_loader.go
  gitcore/object_parser.go
  gitcore/object_reader.go
  gitcore/object_types.go
  gitcore/objects.go
  gitcore/objects_test.go
  gitcore/pack_index.go
  gitcore/pack_reader_test.go
  gitcore/pack_test.go
  gitcore/refs_test.go
  gitcore/repository.go
  gitcore/repository_discovery.go
  gitcore/repository_test.go
  lefthook.yml
  scripts/setup-hooks.sh
Due: gofmt, goimports, govet, staticcheck, gosec

Add gitvista cli
  cmd/cli/branch.go
  cmd/cli/catfile.go
  cmd/cli/diff.go
  cmd/cli/format.go
  cmd/cli/globals.go
  cmd/cli/log.go
  cmd/cli/main.go
  cmd/cli/show.go
  cmd/cli/stash.go
  cmd/cli/status.go
  cmd/cli/tag.go
  cmd/cli/update.go
  gitcore/repository_access.go
  gitcore/repository_access_test.go
  internal/cli/app.go
  internal/cli/help.go
  test/e2e/cli_test.go
  test/e2e/testutil_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add format nicities to cli
  test/e2e/cli_test.go
Due: gofmt, goimports, govet, staticcheck

Add profiling to gitcore
  Makefile
  cmd/cli/globals.go
  cmd/cli/main.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add memory profiling
  Makefile
  cmd/cli/globals.go
  cmd/cli/main.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix make profile-web
  Makefile
Due: none

Deduplicate global string flag parsing
  cmd/cli/globals.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix cli binary ignore rule
  .gitignore
Due: none

Expose repository accessors from gitcore
  gitcore/repository.go
  gitcore/repository_access.go
  gitcore/repository_access_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Test CLI global string flag parsing
  cmd/cli/globals_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add rev-list CLI command
  cmd/cli/commands.go
  cmd/cli/repo.go
  cmd/cli/revlist.go
  internal/cli/app.go
  internal/cli/help.go
  internal/cli/help_test.go
  test/e2e/revlist_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove unused doc files
  DEVELOPMENT.md
  QUICK_START.md
  security_best_practices_report.md
Due: none

Add test repository preparation script
  scripts/prepare_test_repos.py
Due: none

add revlist-tests
  .gitignore
  test/e2e/cli_test.go
  test/e2e/revlist_test.go
  test/e2e/testutil_test.go
  test/integration/server_integration_test.go
Due: gofmt, goimports, govet, staticcheck

Fix revlist cli error
  cmd/cli/globals_test.go
  cmd/cli/revlist.go
Due: gofmt, goimports, govet, staticcheck, gosec

Migrate e2e tests to python and pytest
  .gitignore
  pyproject.toml
  test/e2e/conftest.py
  test/e2e/revlist_test.go
  test/e2e/test_revlist.py
  uv.lock
Due: gofmt, goimports, govet, staticcheck

Add 24-hour check to prepare_test_repos
  scripts/prepare_test_repos.py
  test/e2e/test_revlist.py
Due: none

Add benchmarking
  scripts/benchmark_rev_list.py
Due: none

Extract rev-list traversal into gitcore
  cmd/cli/revlist.go
  gitcore/rev_list.go
  gitcore/rev_list_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Match rev-list topo-order to git
  gitcore/rev_list.go
  gitcore/rev_list_test.go
  test/e2e/test_revlist.py
Due: gofmt, goimports, govet, staticcheck, gosec

Fix cloc to exclude testdata
  Makefile
Due: none

Add testing to gitcore rev list
  gitcore/rev_list_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

add cat-file to gitcore
  AGENTS.md
  gitcore/cat_file.go
  gitcore/cat_file_test.go
  gitcore/object_parser.go
  gitcore/objects_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add cat-file command and keep gitcore data-only
  cmd/cli/catfile.go
  cmd/cli/catfile_test.go
  cmd/cli/commands.go
  gitcore/cat_file.go
  gitcore/cat_file_test.go
Due: gofmt, goimports, govet, staticcheck, gosec
