Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Fast, language-agnostic framework for Git hooks
# Install with: lefthook install
# Run manually with: lefthook run pre-commit

version: 2

# Global settings for all hooks
global:
  # Only run on changed files, not the entire repo
  env:
    # Set working directory context
    GOFLAGS: "-v"

# Pre-commit hook - runs before each commit
pre-commit:
  # Stage changed files for cleanup after hook runs
  follow: true

  parallel: false

  commands:
    # Go formatting check - must pass or commit is blocked
    gofmt:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: gofmt -w {staged_files} && git add {staged_files}
      description: "Format Go code with gofmt"

    # Import formatting - organize and clean imports
    goimports:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if goimports is installed
        if ! command -v goimports &> /dev/null; then
          echo "goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest"
          exit 0
        fi
        goimports -w {staged_files} && git add {staged_files}
      description: "Organize and format Go imports"
      stage_fixed: true

    # Go vet static analysis
    govet:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: go vet ./...
      description: "Run go vet for static analysis"

    # Basic Go linting with staticcheck (must be fast)
    staticcheck:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if staticcheck is installed
        if ! command -v staticcheck &> /dev/null; then
          echo "staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest"
          exit 0
        fi
        staticcheck -checks=all ./...
      description: "Run staticcheck for static analysis"

    # Security check with gosec
    gosec:
      glob: "*.go"
      exclude: "^(vendor/|test/|web/)"
      run: |
        # Check if gosec is installed
        if ! command -v gosec &> /dev/null; then
          echo "gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest"
          exit 0
        fi
        gosec -quiet -no-fail -exclude=G304,G204 ./internal/...
      description: "Check Go code for security issues"

    # JavaScript syntax validation
    js-syntax:
      glob: "web/**/*.js"
      run: |
        # Validate JavaScript syntax without running code
        for file in {staged_files}; do
          if ! node --check "$file" 2>/dev/null; then
            echo "Syntax error in $file"
            exit 1
          fi
        done
      description: "Validate JavaScript syntax"

    # JavaScript CommonJS check
    js-commonjs:
      glob: "web/**/*.js"
      run: |
        # Check for CommonJS patterns that shouldn't be in ES modules
        if grep -n "module.exports\|require(" {staged_files} 2>/dev/null | grep -v "// @allow-commonjs"; then
          echo "Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional"
          exit 1
        fi
      description: "Ensure ES module syntax"

# Pre-push hook - runs before pushing to remote (optional, informational)
# Uncomment to enable additional checks before push
# pre-push:
#   commands:
#     check-tests:
#       run: make test
#       description: "Run test suite before push"
#       stage_fixed: false

Move hosted site composition into internal/app/site
  internal/app/site/app.go
  internal/server/repo_handlers_test.go
  internal/server/server.go
  internal/server/static_handler_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove hosted compatibility from internal/server
  internal/app/site/app.go
  internal/hosted/account_handlers.go
  internal/hosted/account_handlers_test.go
  internal/hosted/docs.go
  internal/hosted/docs_test.go
  internal/hosted/handler.go
  internal/hosted/repo_handlers.go
  internal/hosted/repo_handlers_test.go
  internal/hosted/store_factory_test.go
  internal/server/handlers.go
  internal/server/handlers_diff.go
  internal/server/handlers_history.go
  internal/server/handlers_test.go
  internal/server/hosted_compat.go
  internal/server/hosted_handlers.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/response_types.go
  internal/server/server.go
  internal/server/static_handler_test.go
  internal/server/websocket.go
Due: gofmt, goimports, govet, staticcheck, gosec

Stabilize hosted and websocket bootstrap tests
  internal/hosted/account_handlers_test.go
  internal/repomanager/manager.go
  internal/server/session_websocket.go
Due: gofmt, goimports, govet, staticcheck, gosec

Expand internal/server test coverage
  internal/server/handlers_diff_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/session_bootstrap_test.go
  internal/server/shutdown_test.go
  internal/server/status_test.go
  internal/server/websocket_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Minor refactor to repository files
  gitcore/repository.go
  gitcore/repository_queries.go
  gitcore/repository_queries_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix CI
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  Makefile
  cmd/cli/main.go
  cmd/vista/main.go
  gitcore/gitignore.go
  gitcore/index.go
  gitcore/mmap_unix.go
  gitcore/status.go
  gitcore/worktree_diff.go
  gitvista.go
  internal/hosted/auth.go
  internal/hosted/repo_handlers.go
  internal/hosted/repo_handlers_test.go
  skills-lock.json
Due: gofmt, goimports, govet, staticcheck, gosec

Attempt to cache go ci tools
  .github/workflows/ci.yml
Due: none

remove redundant installs
  .github/workflows/ci.yml
Due: none

fix tests in ci
  .github/workflows/ci.yml
Due: none

Install python in CI
  .github/workflows/ci.yml
Due: none

Fix e2e by adding prepare test repos
  Makefile
Due: none

Fix ssh cloning
  scripts/prepare_test_repos.py
Due: none

Fix make lint with GOCACHE
  .gitignore
  Makefile
Due: none

Stabilize websocket broadcast test registration
  internal/server/websocket_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

introduce docs via doc2go
  Makefile
  docs/site/_meta.json
  docs/site/api/github.com/index.html
  docs/site/api/github.com/rybkr/gitvista/gitcore/index.html
  docs/site/api/github.com/rybkr/gitvista/index.html
  docs/site/api/github.com/rybkr/index.html
  docs/site/api/index.html
  internal/hosted/docs.go
  internal/hosted/docs_test.go
  scripts/generate_doc2go_embed.sh
  web/gitvista/routes.js
  web/gitvista/routes.test.js
  web/site/docsView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

wip
  internal/app/site/app.go
  internal/hosted/account_handlers_test.go
  internal/hosted/server.go
  internal/server/health.go
  internal/server/server.go
  internal/server/shutdown_test.go
  internal/server/static_handler_test.go
  internal/server/websocket.go
  internal/server/websocket_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove internal app wrapper for local server
  cmd/vista/main.go
  internal/app/local/app.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add self-update coverage for update flows
  internal/selfupdate/selfupdate.go
  internal/selfupdate/selfupdate_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

gitcore: harden object reads and stabilize results
  gitcore/gitcore.go
  gitcore/merge.go
  gitcore/merge_test.go
  gitcore/object_reader.go
  gitcore/objects_test.go
  gitcore/repository_queries.go
  gitcore/repository_queries_test.go
  gitcore/rev_list.go
  gitcore/status.go
  gitcore/status_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Significant server refactor and cutdown
  internal/server/analytics.go
  internal/server/analytics_test.go
  internal/server/cache.go
  internal/server/clientip.go
  internal/server/clientip_test.go
  internal/server/handlers.go
  internal/server/handlers_history.go
  internal/server/handlers_test.go
  internal/server/health.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
  internal/server/response_types.go
  internal/server/server.go
  internal/server/session.go
  internal/server/session_bootstrap.go
  internal/server/session_test.go
  internal/server/session_websocket.go
  internal/server/shutdown_test.go
  internal/server/static_handler_test.go
  internal/server/status
  internal/server/watcher.go
  internal/server/watcher_test.go
  internal/server/websocket.go
  internal/server/websocket_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Pull analytics out of server
  internal/analytics/analytics.go
  internal/analytics/analytics_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Delete internal/app
  internal/app/site/app.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove all hosted-related code
  internal/hosted/account_handlers.go
  internal/hosted/account_handlers_test.go
  internal/hosted/auth.go
  internal/hosted/docs.go
  internal/hosted/docs_test.go
  internal/hosted/handler.go
  internal/hosted/migrations/00001_create_hosted_accounts.sql
  internal/hosted/migrations/00002_create_hosted_repositories.sql
  internal/hosted/migrations/00003_create_hosted_users.sql
  internal/hosted/migrations/00004_create_account_memberships.sql
  internal/hosted/repo_handlers.go
  internal/hosted/repo_handlers_test.go
  internal/hosted/server.go
  internal/hosted/store.go
  internal/hosted/store_factory.go
  internal/hosted/store_factory_test.go
  internal/hosted/store_goose.go
  internal/hosted/store_goose_test.go
  internal/hosted/store_postgres.go
  internal/hosted/store_test.go
  internal/repomanager/clone.go
  internal/repomanager/clone_test.go
  internal/repomanager/manager.go
  internal/repomanager/manager_test.go
  internal/repomanager/scheduler.go
  internal/repomanager/scheduler_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove doc files
  docs/site/_meta.json
  docs/site/api/github.com/index.html
  docs/site/api/github.com/rybkr/gitvista/gitcore/index.html
  docs/site/api/github.com/rybkr/gitvista/index.html
  docs/site/api/github.com/rybkr/index.html
  docs/site/api/index.html
  docs/site/cli.md
  docs/site/config.md
  docs/site/install.md
  docs/site/limits.md
  docs/site/views.md
Due: none

Cut down unneeded JS and CSS
  web/analyticsView.js
  web/analyticsView.test.js
  web/apiBase.js
  web/backButtonIcon.js
  web/backend.js
  web/backend.test.js
  web/diffContentViewer.js
  web/fileContentViewer.js
  web/fileExplorer.js
  web/gitvista/app.js
  web/gitvista/routes.js
  web/graph/layout/layoutStrategy.js
  web/graphFilters.js
  web/graphSettingsDefaults.js
  web/infoButton.js
  web/landing/content.js
  web/landing/preview.js
  web/landing/repoBrowser.js
  web/mergePreviewDiffViewer.js
  web/site/app.js
  web/site/docsView.js
  web/site/hostedAccess.js
  web/site/hostedChrome.js
  web/site/hostedNavigation.js
  web/site/hostedProduct.js
  web/site/index.html
  web/site/repoLanding.js
  web/site/repoLoadingView.js
  web/stagingView.js
  web/styles.css
  web/workbench.js
Due: js-syntax, js-commonjs

Remove deployment related files
  Dockerfile
  assets.go
  fly.staging.toml
  fly.toml
  scripts/generate_doc2go_embed.sh
Due: gofmt, goimports, govet, staticcheck, gosec

Tidy up remaining code to fit new arch
  .gitignore
  Makefile
  README.md
  cmd/site/main.go
  cmd/site/main_test.go
  cmd/vista/main.go
  go.mod
  go.sum
Due: gofmt, goimports, govet, staticcheck, gosec

Fix cmd flag handling and repository cleanup
  cmd/cli/globals.go
  cmd/cli/globals_test.go
  cmd/cli/main.go
  cmd/cli/repo.go
  cmd/vista/main.go
  cmd/vista/main_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Stop tracking ignored agent artifacts
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/golang-pro/SKILL.md
  .agents/skills/golang-pro/references/concurrency.md
  .agents/skills/golang-pro/references/generics.md
  .agents/skills/golang-pro/references/interfaces.md
  .agents/skills/golang-pro/references/project-structure.md
  .agents/skills/golang-pro/references/testing.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/review-and-refactor/SKILL.md
  .github/CI-CD-OVERVIEW.md
  .github/workflows/ci.yml
  AGENTS.md
  skills-lock.json
Due: none

Remove hosted frontend code paths
  README.md
  web/apiBase.js
  web/apiFetch.js
  web/gitvista/app.js
  web/gitvista/routes.js
  web/gitvista/routes.test.js
  web/repoUnavailableOverlay.js
  web/styles.css
  web/workbench.js
Due: js-syntax, js-commonjs

Clean up stale frontend mode seams
  assets.go
  cmd/vista/main.go
  web/gitvista/app.js
  web/gitvista/routes.js
  web/gitvista/routes.test.js
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
  web/indexView.js
  web/local/app.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Remove Docker image push from release pipeline
  .github/workflows/release.yml
Due: none

Allow GoReleaser to replace existing release assets
  .goreleaser.yml
Due: none

Patch CI workflow
  .github/workflows/ci.yml
Due: none

Fix CI security vuln
  gitcore/status.go
  internal/selfupdate/selfupdate.go
Due: gofmt, goimports, govet, staticcheck, gosec

make format
  gitcore/status.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix upstream tracking issue and add regression test
  gitcore/upstream.go
  gitcore/upstream_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix merge base logic
  gitcore/diff_test.go
  gitcore/merge_base.go
  gitcore/merge_base_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix .gitignore parsing with whitespace
  gitcore/gitignore.go
  gitcore/gitignore_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Improve gitignore parsing
  gitcore/gitignore.go
  gitcore/gitignore_test.go
Due: gofmt, goimports, govet, staticcheck, gosec
