Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

gofmt:
  run: gofmt -w {staged_files} && git add {staged_files}
  description: Format Go code with gofmt

goimports:
  run: "# Check if goimports is installed\nif ! command -v goimports &> /dev/null; then\n  echo \"goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest\"\n  exit 0\nfi\ngoimports -w {staged_files} && git add {staged_files}\n"
  ...

govet:
  run: go vet ./...
  description: Run go vet for static analysis

staticcheck:
  run: "# Check if staticcheck is installed\nif ! command -v staticcheck &> /dev/null; then\n  echo \"staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest\"\n  exit 0\nfi\nstaticcheck -checks=all ./...\n"
  description: Run staticcheck for static analysis

gosec:
  run: "# Check if gosec is installed\nif ! command -v gosec &> /dev/null; then\n  echo \"gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest\"\n  exit 0\nfi\ngosec -quiet -no-fail -exclude=G304,G204 ./internal/...\n"
  description: Check Go code for security issues

js-syntax:
  run: "# Validate JavaScript syntax without running code\nfor file in {staged_files}; do\n  if ! node --check \"$file\" 2>/dev/null; then\n    echo \"Syntax error in $file\"\n    exit 1\n  fi\ndone\n"
  description: Validate JavaScript syntax

js-commonjs:
  run: "# Check for CommonJS patterns that shouldn't be in ES modules\nif grep -n \"module.exports\\|require(\" {staged_files} 2>/dev/null | grep -v \"// @allow-commonjs\"; then\n  echo \"Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional\"\n  exit 1\nfi\n"
  ...

Fix CI
  internal/gitcore/merge.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix lane fragmentation when commits share the same timestamp
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Fix merge preview bugs: overlap handling, conflict classification, and UI issues
  internal/gitcore/threeway.go
  internal/gitcore/threeway_test.go
  internal/server/handlers.go
  internal/server/server.go
  web/mergePreviewView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

initial implementation of stash rendering
  internal/gitcore/objects.go
  internal/gitcore/repository.go
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graph/utils/palette.js
  web/styles.css
  web/tooltips/commitTooltip.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Fix rename detection in merge preview and highlight merge base on graph
  internal/gitcore/merge.go
  internal/gitcore/merge_test.go
  internal/gitcore/types.go
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Show stash and index nodes on the graph
  internal/server/watcher.go
  web/graph/layout/laneStrategy.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Fix stash internal commits landing on parent branch lane
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Position ghost merge node where real merge commit would land in lane mode
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Show stash internal commit messages as lane headers
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Move ghost node injection after layout to track lane re-arrangements
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Snap ghost merge node when lanes are dragged or rebalanced
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Redesign ghost merge node with spectral projection aesthetic
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Fix idDimmed bug
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Fix CI
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Update node styles
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graph/utils/palette.js
  web/styles.css
Due: js-syntax, js-commonjs

Update favicon
  web/favicon.png
Due: none

Add CLI color infrastructure, rich version info, and build metadata injection
  .goreleaser.yml
  Dockerfile
  Makefile
  cmd/gitcli/globals.go
  cmd/gitcli/main.go
  cmd/vista/main.go
  go.mod
  go.sum
  internal/termcolor/color.go
  internal/termcolor/detect.go
  internal/termcolor/termcolor_test.go
  internal/termcolor/writer.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add install script for curl-pipe-sh installation as git subcommand
  scripts/install.sh
Due: none

Wire color output into CLI commands
  cmd/gitcli/diff.go
  cmd/gitcli/log.go
  cmd/gitcli/main.go
  cmd/gitcli/status.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add continuous deployment pipeline, enhanced release workflow, and Dependabot
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  docs/PIPELINES.md
  fly.staging.toml
  scripts/smoke-test.sh
Due: none

Add CLI framework with help system, subcommand dispatch, and error suggestions
  cmd/gitcli/main.go
  cmd/vista/main.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/help.go
  internal/cli/help_test.go
  internal/cli/suggest.go
  internal/cli/suggest_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Replace favicon with landing page logo SVG
  web/favicon.svg
  web/index.html
Due: none

Add branch, tag, show, stash CLI commands and fix gosec security annotations
  .github/workflows/release.yml
  .goreleaser.yml
  cmd/gitcli/branch.go
  cmd/gitcli/main.go
  cmd/gitcli/show.go
  cmd/gitcli/stash.go
  cmd/gitcli/tag.go
  cmd/gitcli/update.go
  cmd/vista/main.go
  internal/cli/app.go
  internal/cli/suggest_test.go
  internal/selfupdate/selfupdate.go
  internal/selfupdate/selfupdate_test.go
  internal/termcolor/detect.go
  scripts/install.sh
  test/e2e/cli_test.go
  web/favicon.png
  web/repoLanding.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Add startup banner, JSON output, timing, and config validation
  cmd/vista/main.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add loading spinner for repository initialization
  cmd/gitcli/main.go
  cmd/vista/main.go
  internal/progress/spinner.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix object traversal crash on blob/tree-targeting tags
  internal/gitcore/objects.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Improve repomanager and server
  internal/repomanager/clone.go
  internal/repomanager/clone_test.go
  internal/repomanager/manager.go
  internal/repomanager/manager_test.go
  internal/server/repo_handlers.go
  internal/server/repo_handlers_test.go
  internal/server/server.go
  web/repoLanding.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Add graph navigation UI: minimap, breadcrumb bar, settings overlay, and dark default
  web/app.js
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
  web/graphBreadcrumb.js
  web/graphMinimap.js
  web/graphSettings.js
  web/graphSettingsDefaults.js
  web/keyboardShortcuts.js
  web/styles.css
  web/themeToggle.js
Due: js-syntax, js-commonjs

Fix SSE clone progress: Flusher delegation and subscribe race
  internal/server/middleware.go
  internal/server/repo_handlers.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add viewport render culling to skip off-screen nodes and links
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Fix CI
  internal/server/repo_handlers.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add GraphSummary and CommitSkeleton types with REST endpoints for lazy loading
  internal/gitcore/repository.go
  internal/gitcore/repository_test.go
  internal/gitcore/types.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/server.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add lazy node materialization pipeline for lane mode
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
  web/graph/state/commitIndex.js
  web/graph/state/nodeMaterializer.js
  web/graph/state/viewportWindow.js
Due: js-syntax, js-commonjs

Add two-phase lazy loading for force layout mode
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
  web/graph/state/commitIndex.js
Due: js-syntax, js-commonjs

Fix force layout node bunching on Phase B → A re-entry
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
Due: js-syntax, js-commonjs

Improve new commit spawn position and fix rebalance scrunching
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
Due: js-syntax, js-commonjs

Attempt to fix graph force mode
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Fix CI
  internal/gitcore/repository_test.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix force layout node bunching on Phase B → A re-entry via drag
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
Due: js-syntax, js-commonjs

Fix force mode: restore eager pipeline, fix rebalance, click, drag, and layout switching
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
Due: js-syntax, js-commonjs

Path conditions:
  gofmt: any of: *.go, but not: ^(vendor/|web/)
  goimports: any of: *.go, but not: ^(vendor/|web/)
  govet: any of: *.go, but not: ^(vendor/|web/)
  staticcheck: any of: *.go, but not: ^(vendor/|web/)
  gosec: any of: *.go, but not: ^(vendor/|test/|web/)
  js-syntax: any of: web/**/*.js
  js-commonjs: any of: web/**/*.js
