Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

gofmt:
  run: gofmt -w {staged_files} && git add {staged_files}
  description: Format Go code with gofmt

goimports:
  run: "# Check if goimports is installed\nif ! command -v goimports &> /dev/null; then\n  echo \"goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest\"\n  exit 0\nfi\ngoimports -w {staged_files} && git add {staged_files}\n"
  ...

govet:
  run: go vet ./...
  description: Run go vet for static analysis

staticcheck:
  run: "# Check if staticcheck is installed\nif ! command -v staticcheck &> /dev/null; then\n  echo \"staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest\"\n  exit 0\nfi\nstaticcheck -checks=all ./...\n"
  description: Run staticcheck for static analysis

gosec:
  run: "# Check if gosec is installed\nif ! command -v gosec &> /dev/null; then\n  echo \"gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest\"\n  exit 0\nfi\ngosec -quiet -no-fail -exclude=G304,G204 ./internal/...\n"
  description: Check Go code for security issues

js-syntax:
  run: "# Validate JavaScript syntax without running code\nfor file in {staged_files}; do\n  if ! node --check \"$file\" 2>/dev/null; then\n    echo \"Syntax error in $file\"\n    exit 1\n  fi\ndone\n"
  description: Validate JavaScript syntax

js-commonjs:
  run: "# Check for CommonJS patterns that shouldn't be in ES modules\nif grep -n \"module.exports\\|require(\" {staged_files} 2>/dev/null | grep -v \"// @allow-commonjs\"; then\n  echo \"Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional\"\n  exit 1\nfi\n"
  ...

Add testing for git catfile
  test/e2e/conftest.py
  test/e2e/test_catfile.py
  test/e2e/test_revlist.py
Due: none

Add ls-tree support to gitcore and CLI
  cmd/cli/commands.go
  cmd/cli/lstree.go
  cmd/cli/lstree_test.go
  gitcore/repository_access.go
  gitcore/repository_access_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix cli format bug
  internal/cli/help.go
Due: gofmt, goimports, govet, staticcheck, gosec

Normalize printed tree modes in CLI output
  cmd/cli/catfile.go
  cmd/cli/catfile_test.go
  cmd/cli/lstree.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add e2e testing for ls-tree
  test/e2e/test_catfile.py
  test/e2e/test_lstree.py
Due: none

Fix CI issues
  gitcore/cat_file_test.go
  gitcore/rev_list.go
  gitcore/rev_list_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move merge base and upstream functionality into gitcore
  gitcore/merge_base.go
  gitcore/merge_base_test.go
  gitcore/upstream.go
  gitcore/upstream_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move diff and working tree engine code into gitcore
  gitcore/diff_file.go
  gitcore/diff_tree.go
  gitcore/diff_types.go
  gitcore/gitignore.go
  gitcore/index.go
  gitcore/repository_access.go
  gitcore/status.go
  gitcore/worktree_diff.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add public gitcore tests for diff and working tree features
  gitcore/diff_test.go
  gitcore/gitignore_test.go
  gitcore/index_test.go
  gitcore/status_test.go
  gitcore/worktree_diff_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move merge preview and three-way diff code into gitcore
  gitcore/merge.go
  gitcore/threeway.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add public gitcore tests for merge and three-way diff
  gitcore/merge_test.go
  gitcore/threeway_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move graph and delta projections out of internal gitcore
  gitvista.go
  internal/repositoryview/branch_attribution.go
  internal/repositoryview/delta.go
  internal/repositoryview/graph.go
  internal/server/handlers_history.go
  internal/server/session.go
  internal/server/session_bootstrap.go
  internal/server/session_test.go
  internal/server/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add tests for repositoryview branch attribution and deltas
  internal/repositoryview/repositoryview_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove repository view projections from internal gitcore
  internal/gitcore/branch_attribution.go
  internal/gitcore/branch_attribution_test.go
  internal/gitcore/commit_log.go
  internal/gitcore/delta.go
  internal/gitcore/graph.go
  internal/gitcore/repository_access.go
  internal/gitcore/repository_delta_ops.go
  internal/gitcore/repository_test.go
  internal/repositoryview/delta.go
  internal/repositoryview/graph.go
  internal/repositoryview/repositoryview_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add app-facing parity APIs to gitcore
  gitcore/blame.go
  gitcore/mailmap.go
  gitcore/object_types.go
  gitcore/repository.go
  gitcore/repository_access.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move app stack onto public gitcore
  cmd/vista/main.go
  gitvista.go
  internal/app/local/app.go
  internal/repomanager/manager.go
  internal/repomanager/scheduler.go
  internal/repositoryview/branch_attribution.go
  internal/repositoryview/delta.go
  internal/repositoryview/graph.go
  internal/repositoryview/repositoryview_test.go
  internal/server/analytics.go
  internal/server/handlers.go
  internal/server/handlers_diff.go
  internal/server/handlers_history.go
  internal/server/handlers_test.go
  internal/server/logger_test.go
  internal/server/middleware_test.go
  internal/server/response_types.go
  internal/server/server.go
  internal/server/session.go
  internal/server/session_bootstrap.go
  internal/server/session_bootstrap_test.go
  internal/server/session_test.go
  internal/server/session_websocket.go
  internal/server/shutdown_test.go
  internal/server/static_handler_test.go
  internal/server/status.go
  internal/server/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move mailmap and commit log coverage into gitcore
  gitcore/commit_log.go
  gitcore/hash_test.go
  gitcore/mailmap_test.go
  gitcore/repository_test.go
  internal/gitcore/blame.go
  internal/gitcore/mailmap.go
  internal/gitcore/mailmap_test.go
  internal/gitcore/repository.go
  internal/gitcore/repository_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Expand gitcore coverage for repository access
  gitcore/repository_access_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove internal gitcore package
  internal/gitcore/commit_log.go
  internal/gitcore/diff_file.go
  internal/gitcore/diff_test.go
  internal/gitcore/diff_tree.go
  internal/gitcore/diff_types.go
  internal/gitcore/gitignore.go
  internal/gitcore/gitignore_test.go
  internal/gitcore/hash.go
  internal/gitcore/index.go
  internal/gitcore/index_test.go
  internal/gitcore/merge.go
  internal/gitcore/merge_test.go
  internal/gitcore/object_parse.go
  internal/gitcore/object_reader.go
  internal/gitcore/object_types.go
  internal/gitcore/objects_test.go
  internal/gitcore/pack.go
  internal/gitcore/pack_index.go
  internal/gitcore/pack_test.go
  internal/gitcore/refs.go
  internal/gitcore/refs_test.go
  internal/gitcore/repository.go
  internal/gitcore/repository_access.go
  internal/gitcore/repository_benchmark_test.go
  internal/gitcore/repository_discovery.go
  internal/gitcore/repository_test.go
  internal/gitcore/signature.go
  internal/gitcore/stash.go
  internal/gitcore/status.go
  internal/gitcore/status_test.go
  internal/gitcore/threeway.go
  internal/gitcore/threeway_test.go
  internal/gitcore/upstream.go
  internal/gitcore/worktree_diff.go
  internal/gitcore/worktree_diff_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Clean up stale references after gitcore extraction
  Makefile
  README.md
Due: none

Harden worktree diff path handling
  gitcore/worktree_diff.go
  gitcore/worktree_diff_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Harden status checks for symlink replacements
  gitcore/status.go
  gitcore/status_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix blame resolution across merge parents
  gitcore/blame.go
  gitcore/repository_access_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Propagate status walk errors
  gitcore/status.go
  gitcore/status_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Tidy up makefile and collapse targets
  Makefile
Due: none

Add agent skills to repo
  .agents/skills/golang-pro/SKILL.md
  .agents/skills/golang-pro/references/concurrency.md
  .agents/skills/golang-pro/references/generics.md
  .agents/skills/golang-pro/references/interfaces.md
  .agents/skills/golang-pro/references/project-structure.md
  .agents/skills/golang-pro/references/testing.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/review-and-refactor/SKILL.md
  skills-lock.json
Due: none

Expand index parsing and verify checksums
  gitcore/index.go
  gitcore/index_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix make test command
  Makefile
Due: none

Bulk read pack index v2 tables
  gitcore/pack_index.go
Due: gofmt, goimports, govet, staticcheck, gosec

Align hosted site local run with deploy defaults
  Makefile
  README.md
  cmd/site/main.go
  cmd/site/main_test.go
  docs/site/config.md
Due: gofmt, goimports, govet, staticcheck, gosec

Index mailmap entries by commit email
  gitcore/mailmap.go
Due: gofmt, goimports, govet, staticcheck, gosec

Reuse zlib readers for object decompression
  gitcore/object_reader.go
Due: gofmt, goimports, govet, staticcheck, gosec

Memory map pack files for eager reads
  gitcore/mmap_stub.go
  gitcore/mmap_unix.go
  gitcore/pack.go
  gitcore/pack_reader_test.go
  gitcore/repository.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix e2e pytest
  Makefile
Due: none

Add testing to cmd/cli
  cmd/cli/globals_test.go
  cmd/cli/revlist_test.go
  cmd/site/main_helpers_test.go
  cmd/vista/main_more_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add tests to cmd/vista
  cmd/vista/main_more_test.go
  cmd/vista/main_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add testing to cmd/site
  cmd/site/main_helpers_test.go
  cmd/site/main_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move initial repo bootstrap onto the websocket
  internal/server/handlers.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/server.go
  internal/server/session.go
  internal/server/session_bootstrap.go
  internal/server/session_bootstrap_test.go
  internal/server/session_websocket.go
  internal/server/types.go
  internal/server/watcher.go
  internal/server/websocket.go
  internal/server/websocket_test.go
  web/backend.js
  web/backend.test.js
  web/gitvista/app.js
  web/graph/graphController.js
  web/telemetry.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Extract hosted store code into internal/hosted
  cmd/site/main.go
  internal/app/site/app.go
  internal/hosted/migrations/00001_create_hosted_accounts.sql
  internal/hosted/migrations/00002_create_hosted_repositories.sql
  internal/hosted/migrations/00003_create_hosted_users.sql
  internal/hosted/migrations/00004_create_account_memberships.sql
  internal/hosted/store.go
  internal/hosted/store_factory.go
  internal/hosted/store_factory_test.go
  internal/hosted/store_goose.go
  internal/hosted/store_goose_test.go
  internal/hosted/store_postgres.go
  internal/hosted/store_test.go
  internal/server/account_handlers_test.go
  internal/server/hosted_compat.go
  internal/server/repo_handlers.go
Due: gofmt, goimports, govet, staticcheck, gosec

Move hosted HTTP handlers into internal/hosted
  internal/hosted/account_handlers.go
  internal/hosted/auth.go
  internal/hosted/handler.go
  internal/hosted/repo_handlers.go
  internal/server/hosted_auth.go
  internal/server/hosted_handlers.go
Due: gofmt, goimports, govet, staticcheck, gosec

Path conditions:
  gofmt: any of: *.go, but not: ^(vendor/|web/)
  goimports: any of: *.go, but not: ^(vendor/|web/)
  govet: any of: *.go, but not: ^(vendor/|web/)
  staticcheck: any of: *.go, but not: ^(vendor/|web/)
  gosec: any of: *.go, but not: ^(vendor/|test/|web/)
  js-syntax: any of: web/**/*.js
  js-commonjs: any of: web/**/*.js
