Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

gofmt:
  run: gofmt -w {staged_files} && git add {staged_files}
  description: Format Go code with gofmt

goimports:
  run: "# Check if goimports is installed\nif ! command -v goimports &> /dev/null; then\n  echo \"goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest\"\n  exit 0\nfi\ngoimports -w {staged_files} && git add {staged_files}\n"
  ...

govet:
  run: go vet ./...
  description: Run go vet for static analysis

staticcheck:
  run: "# Check if staticcheck is installed\nif ! command -v staticcheck &> /dev/null; then\n  echo \"staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest\"\n  exit 0\nfi\nstaticcheck -checks=all ./...\n"
  description: Run staticcheck for static analysis

gosec:
  run: "# Check if gosec is installed\nif ! command -v gosec &> /dev/null; then\n  echo \"gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest\"\n  exit 0\nfi\ngosec -quiet -no-fail -exclude=G304,G204 ./internal/...\n"
  description: Check Go code for security issues

js-syntax:
  run: "# Validate JavaScript syntax without running code\nfor file in {staged_files}; do\n  if ! node --check \"$file\" 2>/dev/null; then\n    echo \"Syntax error in $file\"\n    exit 1\n  fi\ndone\n"
  description: Validate JavaScript syntax

js-commonjs:
  run: "# Check for CommonJS patterns that shouldn't be in ES modules\nif grep -n \"module.exports\\|require(\" {staged_files} 2>/dev/null | grep -v \"// @allow-commonjs\"; then\n  echo \"Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional\"\n  exit 1\nfi\n"
  ...

begin hand-audit
  internal/gitcore/blame.go
  internal/gitcore/diff.go
  internal/gitcore/objects.go
  internal/gitcore/pack.go
  internal/gitcore/pack_index.go
  internal/gitcore/repository.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Split monolithic files
  internal/gitcore/delta.go
  internal/gitcore/diff.go
  internal/gitcore/diff_file.go
  internal/gitcore/diff_tree.go
  internal/gitcore/diff_types.go
  internal/gitcore/graph.go
  internal/gitcore/hash.go
  internal/gitcore/merge.go
  internal/gitcore/object_parse.go
  internal/gitcore/object_reader.go
  internal/gitcore/object_types.go
  internal/gitcore/pack_index.go
  internal/gitcore/repository.go
  internal/gitcore/repository_access.go
  internal/gitcore/repository_delta_ops.go
  internal/gitcore/repository_discovery.go
  internal/gitcore/repository_graph.go
  internal/gitcore/signature.go
  internal/gitcore/stash.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Tighten up gitcore code
  AGENTS.md
  internal/gitcore/gitignore.go
  internal/gitcore/object_parse.go
  internal/gitcore/object_reader.go
  internal/gitcore/object_types.go
  internal/gitcore/pack.go
  internal/gitcore/refs.go
  internal/gitcore/repository.go
  internal/gitcore/repository_access.go
Due: gofmt, goimports, govet, staticcheck, gosec

switch to horizontal index
  web/stagingView.js
  web/styles.css
Due: none

Add upstream tracking to lifecycle view
  internal/gitcore/refs.go
  internal/gitcore/refs_test.go
  internal/gitcore/repository_test.go
  internal/gitcore/upstream.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/response_types.go
  internal/server/session.go
  internal/server/session_websocket.go
  internal/server/types.go
  web/app.js
  web/stagingView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Allow lifecycle lanes to scroll independently
  web/styles.css
Due: none

Optimize packed object loading
  internal/gitcore/hash.go
  internal/gitcore/object_parse.go
  internal/gitcore/object_reader.go
  internal/gitcore/pack.go
  internal/gitcore/repository.go
  internal/gitcore/repository_benchmark_test.go
  internal/repomanager/manager.go
  internal/repomanager/scheduler.go
Due: gofmt, goimports, govet, staticcheck, gosec

improve code quality in internal server
  internal/server/handlers_diff.go
  internal/server/handlers_history.go
  internal/server/repo_handlers.go
  internal/server/session_bootstrap.go
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Tune lifecycle panel responsiveness
  web/stagingView.js
  web/styles.css
Due: none

Refine lifecycle panel for dev tooling
  web/stagingView.js
  web/styles.css
Due: none

Polish lifecycle help affordances
  web/stagingView.js
  web/styles.css
Due: none

Add lifecycle file diff access
  internal/server/handlers_diff.go
  internal/server/handlers_test.go
  internal/server/server.go
  web/app.js
  web/diffContentViewer.js
  web/fileExplorer.js
  web/stagingView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Open lifecycle file clicks in inline diff
  web/stagingView.js
Due: none

Add remote branch pointers to graph payloads
  internal/gitcore/repository_access.go
  internal/gitcore/repository_delta_ops.go
  internal/gitcore/repository_graph.go
  internal/gitcore/repository_test.go
  internal/server/handlers_history.go
  web/graph/rendering/graphRenderer.js
  web/graph/utils/refs.js
  web/tooltips/branchTooltip.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Raise the UI typography floor
  internal/gitcore/branch_attribution.go
  internal/gitcore/branch_attribution_test.go
  internal/gitcore/graph.go
  internal/gitcore/object_types.go
  internal/gitcore/repository_access.go
  internal/gitcore/repository_delta_ops.go
  internal/gitcore/repository_graph.go
  internal/server/session_bootstrap.go
  internal/server/session_bootstrap_test.go
  web/graph/layout/laneStrategy.js
  web/graph/layout/laneStrategy.test.js
  web/graph/types.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

fix font size
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Improve frontend quality
  web/app.js
  web/graph/filterPredicate.js
  web/graph/graphController.js
  web/graph/graphController.test.js
  web/graphSettings.js
  web/styles.css
Due: js-syntax, js-commonjs

improve analytics with help tooltips
  web/analyticsView.js
  web/styles.css
Due: none

Refine hosted landing page navbar and hero
  web/repoLanding.js
  web/styles.css
Due: none

Rename hosted mode and refine CLI startup flags
  README.md
  cmd/vista/main.go
  cmd/vista/main_test.go
  docs/CLAUDE.md
  docs/PLAN.md
  internal/server/middleware.go
  internal/server/repo_handlers_test.go
  internal/server/server.go
  internal/server/session.go
  internal/server/websocket.go
  internal/server/websocket_test.go
  web/app.js
Due: gofmt, goimports, govet, staticcheck, gosec

Use PNG favicon for the web app
  web/favicon.png
  web/index.html
Due: none

Refresh hosted landing page hero and preview
  web/repoLanding.js
  web/styles.css
Due: none

Add hosted docs page and navigation
  web/app.js
  web/docsView.js
  web/repoLanding.js
  web/styles.css
Due: none

Use real swimlanes graph in landing preview
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/repoLanding.js
  web/styles.css
Due: js-syntax, js-commonjs

Fix index view
  web/indexView.js
Due: none

Fix CI
  Makefile
  internal/gitcore/hash.go
  internal/gitcore/hash_test.go
  internal/selfupdate/selfupdate_test.go
  internal/server/shutdown_test.go
  web/package.json
Due: gofmt, goimports, govet, staticcheck, gosec

Fix landing preview loading and layout behavior
  web/graph/graphController.js
  web/repoLanding.js
  web/styles.css
Due: js-syntax, js-commonjs

Switch hosted app to pathname routing
  internal/server/server.go
  internal/server/static_handler_test.go
  web/app.js
  web/docsView.js
  web/repoLanding.js
  web/repoUnavailableOverlay.js
  web/routes.js
  web/routes.test.js
Due: gofmt, goimports, govet, staticcheck, gosec

Move hosted docs content into docs/site
  assets.go
  docs/site/_meta.json
  docs/site/hosted-mode.md
  docs/site/limits.md
  docs/site/local-mode.md
  docs/site/views.md
  internal/server/docs.go
  internal/server/docs_test.go
  internal/server/response_types.go
  internal/server/server.go
  web/docsView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Remove stale doc files, update AGENTS file
  AGENTS.md
  docs/ANALYTICS_V1_SPEC.md
  docs/ANALYTICS_V1_WORKTREE_PLAN.md
  docs/CLAUDE.md
  docs/PIPELINES.md
  docs/PLAN.md
  docs/TODO.md
Due: none

Refresh landing hero messaging and preview
  web/repoLanding.js
  web/styles.css
Due: none

Refactor hosted frontend structure
  web/app.js
  web/docsView.js
  web/hostedChrome.js
  web/hostedNavigation.js
  web/hostedProduct.js
  web/landing/content.js
  web/landing/preview.js
  web/landing/repoBrowser.js
  web/repoLanding.js
Due: js-syntax, js-commonjs

Normalize hosted navbar spacing
  web/styles.css
Due: none

Use PNG favicon in hosted chrome
  web/favicon.svg
  web/hostedChrome.js
Due: none

Align hosted nav links
  web/repoLanding.js
Due: none

Fix docs navbar height
  web/styles.css
Due: none

Compact the landing preview poster
  web/landing/content.js
  web/landing/preview.js
  web/styles.css
Due: js-syntax, js-commonjs

Use page routes for hosted docs sections
  docs/site/_meta.json
  docs/site/hosted-mode.md
  internal/server/docs_test.go
  internal/server/static_handler_test.go
  web/app.js
  web/docsView.js
  web/routes.js
  web/routes.test.js
Due: gofmt, goimports, govet, staticcheck, gosec

Tighten quick-start example cards
  web/landing/repoBrowser.js
  web/styles.css
Due: js-syntax, js-commonjs

Use responsive screenshots for the landing preview
  web/images/landing/hero-preview-desktop-dark.png
  web/images/landing/hero-preview-desktop-light.png
  web/images/landing/hero-preview-mobile-dark.png
  web/images/landing/hero-preview-mobile-light.png
  web/landing/content.js
  web/landing/preview.js
Due: js-syntax, js-commonjs

Path conditions:
  gofmt: any of: *.go, but not: ^(vendor/|web/)
  goimports: any of: *.go, but not: ^(vendor/|web/)
  govet: any of: *.go, but not: ^(vendor/|web/)
  staticcheck: any of: *.go, but not: ^(vendor/|web/)
  gosec: any of: *.go, but not: ^(vendor/|test/|web/)
  js-syntax: any of: web/**/*.js
  js-commonjs: any of: web/**/*.js
