Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Fast, language-agnostic framework for Git hooks
# Install with: lefthook install
# Run manually with: lefthook run pre-commit

version: 2

# Global settings for all hooks
global:
  # Only run on changed files, not the entire repo
  env:
    # Set working directory context
    GOFLAGS: "-v"

# Pre-commit hook - runs before each commit
pre-commit:
  # Stage changed files for cleanup after hook runs
  follow: true

  parallel: false

  commands:
    # Go formatting check - must pass or commit is blocked
    gofmt:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: gofmt -w {staged_files} && git add {staged_files}
      description: "Format Go code with gofmt"

    # Import formatting - organize and clean imports
    goimports:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if goimports is installed
        if ! command -v goimports &> /dev/null; then
          echo "goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest"
          exit 0
        fi
        goimports -w {staged_files} && git add {staged_files}
      description: "Organize and format Go imports"
      stage_fixed: true

    # Go vet static analysis
    govet:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: go vet ./...
      description: "Run go vet for static analysis"

    # Basic Go linting with staticcheck (must be fast)
    staticcheck:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if staticcheck is installed
        if ! command -v staticcheck &> /dev/null; then
          echo "staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest"
          exit 0
        fi
        staticcheck -checks=all ./...
      description: "Run staticcheck for static analysis"

    # Security check with gosec
    gosec:
      glob: "*.go"
      exclude: "^(vendor/|test/|web/)"
      run: |
        # Check if gosec is installed
        if ! command -v gosec &> /dev/null; then
          echo "gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest"
          exit 0
        fi
        gosec -quiet -no-fail -exclude=G304,G204 ./internal/...
      description: "Check Go code for security issues"

    # JavaScript syntax validation
    js-syntax:
      glob: "web/**/*.js"
      run: |
        # Validate JavaScript syntax without running code
        for file in {staged_files}; do
          if ! node --check "$file" 2>/dev/null; then
            echo "Syntax error in $file"
            exit 1
          fi
        done
      description: "Validate JavaScript syntax"

    # JavaScript CommonJS check
    js-commonjs:
      glob: "web/**/*.js"
      run: |
        # Check for CommonJS patterns that shouldn't be in ES modules
        if grep -n "module.exports\|require(" {staged_files} 2>/dev/null | grep -v "// @allow-commonjs"; then
          echo "Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional"
          exit 1
        fi
      description: "Ensure ES module syntax"

# Pre-push hook - runs before pushing to remote (optional, informational)
# Uncomment to enable additional checks before push
# pre-push:
#   commands:
#     check-tests:
#       run: make test
#       description: "Run test suite before push"
#       stage_fixed: false

Fix: stop leaking internal file paths in health and API responses
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/health.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix: validate X-Forwarded-For input in getClientIP to prevent rate limit bypass
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix: convert traverseObjects to iterative stack to prevent stack overflow
  internal/gitcore/objects.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix: vendor D3 and Google Fonts to eliminate render-blocking CDN waterfalls
  web/graph/graphController.js
  web/graph/layout/forceStrategy.js
  web/graph/state/graphState.js
  web/styles.css
  web/vendor/d3-minimal.js
  web/vendor/fonts/geist-latin.woff2
  web/vendor/fonts/jetbrains-mono-latin.woff2
Due: js-syntax, js-commonjs

Fix: extract string constants to satisfy goconst linter
  internal/gitcore/objects.go
  internal/gitcore/status.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove CD from main for now, fix CI
  .github/INDEX.md
  .github/workflows/fly-deploy.yml
  web/graph/graphController.js
  web/tooltips/baseTooltip.js
Due: js-syntax, js-commonjs

Fix: update GitHub Actions to current commit SHAs
  .github/workflows/ci.yml
Due: none

Fix: resolve remaining CI failures
  .github/workflows/ci.yml
  test/integration/server_integration_test.go
Due: gofmt, goimports, govet, staticcheck

Fix: upgrade golangci-lint-action to v7 and fix e2e default branch
  .github/workflows/ci.yml
  test/e2e/testutil_test.go
Due: gofmt, goimports, govet, staticcheck

Add three zone panel for index visualization
  internal/gitcore/diff.go
  web/app.js
  web/diffContentViewer.js
  web/sidebar.js
  web/stagingView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Add .claude to .gitignore
  .gitignore
Due: none

respect .gitignore in three-zone layout
  internal/gitcore/gitignore.go
  internal/gitcore/gitignore_test.go
  internal/gitcore/status.go
  internal/server/status.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix large-repo performance: O(1) node resolution, cached commit map, WebSocket compression
  internal/gitcore/objects.go
  internal/gitcore/repository.go
  internal/server/handlers.go
  internal/server/update.go
  internal/server/websocket.go
  web/graph/rendering/graphRenderer.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

remove .gitignored files using symlinks from working:
  internal/gitcore/gitignore.go
  internal/gitcore/gitignore_test.go
  internal/gitcore/status.go
  internal/server/watcher.go
  web/app.js
  web/sidebar.js
  web/stagingView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Fix: guard formatRelativeTime against null/undefined/unparseable input (#70)
  web/utils/format.js
Due: js-syntax, js-commonjs

Fix ci-local errors
  internal/gitcore/gitignore.go
  internal/gitcore/gitignore_test.go
  internal/server/websocket.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix branch live reloading
  internal/gitcore/index.go
  internal/server/watcher.go
Due: gofmt, goimports, govet, staticcheck, gosec

Attempt to fix failing ci
  .github/workflows/ci.yml
Due: none

Connect tag nodes to their commits
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graph/types.js
  web/graph/utils/palette.js
Due: js-syntax, js-commonjs

Fix spawn point; make tag nodes interactive
  web/graph/graphController.js
  web/styles.css
  web/tooltips/index.js
  web/tooltips/tagTooltip.js
Due: js-syntax, js-commonjs

Fix swimlane mode: render loop, arrow direction, spacing, lane visuals
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Fix code view in file explorer
  web/fileContentViewer.js
  web/styles.css
Due: none

Fix lane mode: snap branches/tags after layout computes positions
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Use first-parent heuristic for lane assignment; fix arrow direction
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Fix node highlight colors to match node colors
  web/graph/rendering/graphRenderer.js
  web/graph/utils/palette.js
  web/utils/colors.js
Due: js-syntax, js-commonjs

Fix cross-lane arrow routing: exit source lane early, anchor merges near target
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Bound lane backgrounds to branch lifetime using parent-child connectivity
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Extend lane background segments to full branch lifetime (fork→merge)
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Per-segment branch labels and pill-shaped lane backgrounds
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Simplify column swap to exchange entire display positions
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Route merge arrows near merge node regardless of column order
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Topological sort for Y-axis ordering, timestamp as tiebreaker
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Add graceful shutdown with WebSocket close frames and structured logging
  cmd/vista/main.go
  internal/server/ratelimit.go
  internal/server/server.go
  internal/server/session.go
  internal/server/watcher.go
  internal/server/websocket.go
Due: gofmt, goimports, govet, staticcheck, gosec

Chronological sort with topological correction for Y-axis
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Refine swimlane visuals: muted palette, casing arrows, polished chrome
  web/graph/constants.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Add error boundary system with connection banner, retry buttons, and repo overlay
  web/apiFetch.js
  web/app.js
  web/backend.js
  web/connectionBanner.js
  web/diffContentViewer.js
  web/diffView.js
  web/errorState.js
  web/fileContentViewer.js
  web/fileExplorer.js
  web/inlineError.js
  web/repoUnavailableOverlay.js
  web/styles.css
Due: none

update styles
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Add NewEmptyRepository constructor for safe empty repo creation
  internal/gitcore/repository.go
  internal/server/handlers_test.go
  internal/server/logger_test.go
  internal/server/middleware_test.go
  internal/server/session.go
  internal/server/session_test.go
  internal/server/shutdown_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Guard commitsMap against nil with panic for initialization invariant
  internal/gitcore/diff_test.go
  internal/gitcore/repository.go
  internal/gitcore/repository_test.go
  internal/gitcore/worktree_diff_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Use var for version string to enable ldflags injection at build time
  cmd/vista/main.go
Due: gofmt, goimports, govet, staticcheck, gosec
