Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Fast, language-agnostic framework for Git hooks
# Install with: lefthook install
# Run manually with: lefthook run pre-commit

version: 2

# Global settings for all hooks
global:
  # Only run on changed files, not the entire repo
  env:
    # Set working directory context
    GOFLAGS: "-v"

# Pre-commit hook - runs before each commit
pre-commit:
  # Stage changed files for cleanup after hook runs
  follow: true

  parallel: false

  commands:
    # Go formatting check - must pass or commit is blocked
    gofmt:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: gofmt -w {staged_files} && git add {staged_files}
      description: "Format Go code with gofmt"

    # Import formatting - organize and clean imports
    goimports:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if goimports is installed
        if ! command -v goimports &> /dev/null; then
          echo "goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest"
          exit 0
        fi
        goimports -w {staged_files} && git add {staged_files}
      description: "Organize and format Go imports"
      stage_fixed: true

    # Go vet static analysis
    govet:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: go vet ./...
      description: "Run go vet for static analysis"

    # Basic Go linting with staticcheck (must be fast)
    staticcheck:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if staticcheck is installed
        if ! command -v staticcheck &> /dev/null; then
          echo "staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest"
          exit 0
        fi
        staticcheck -checks=all ./...
      description: "Run staticcheck for static analysis"

    # Security check with gosec
    gosec:
      glob: "*.go"
      exclude: "^(vendor/|test/|web/)"
      run: |
        # Check if gosec is installed
        if ! command -v gosec &> /dev/null; then
          echo "gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest"
          exit 0
        fi
        gosec -quiet -no-fail -exclude=G304,G204 ./internal/...
      description: "Check Go code for security issues"

    # JavaScript syntax validation
    js-syntax:
      glob: "web/**/*.js"
      run: |
        # Validate JavaScript syntax without running code
        for file in {staged_files}; do
          if ! node --check "$file" 2>/dev/null; then
            echo "Syntax error in $file"
            exit 1
          fi
        done
      description: "Validate JavaScript syntax"

    # JavaScript CommonJS check
    js-commonjs:
      glob: "web/**/*.js"
      run: |
        # Check for CommonJS patterns that shouldn't be in ES modules
        if grep -n "module.exports\|require(" {staged_files} 2>/dev/null | grep -v "// @allow-commonjs"; then
          echo "Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional"
          exit 1
        fi
      description: "Ensure ES module syntax"

# Pre-push hook - runs before pushing to remote (optional, informational)
# Uncomment to enable additional checks before push
# pre-push:
#   commands:
#     check-tests:
#       run: make test
#       description: "Run test suite before push"
#       stage_fixed: false

Harden SaaS security defaults and add regression tests
  .gitignore
  README.md
  cmd/vista/main.go
  cmd/vista/main_test.go
  docs/CLAUDE.md
  internal/repomanager/clone.go
  internal/repomanager/clone_test.go
  internal/repomanager/manager.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
  internal/server/repo_handlers.go
  internal/server/repo_handlers_test.go
  internal/server/server.go
  internal/server/shutdown_test.go
  internal/server/websocket.go
  internal/server/websocket_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Attempt to fix force mode spawn
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Fix merge commit highlight color in swimlanes
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Improve bootstrap batching and stabilize integration tests
  internal/gitcore/types.go
  internal/server/session.go
  test/integration/server_integration_test.go
  web/app.js
  web/graph/graphController.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Disallow branches from spawning above main
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Add byte-size batching to WS messages
  internal/server/handlers.go
  internal/server/session.go
  web/analyticsView.js
  web/app.js
  web/search.js
Due: gofmt, goimports, govet, staticcheck, gosec

Add commit hydration for older commits
  web/app.js
  web/graph/graphController.js
Due: js-syntax, js-commonjs

Reduce large-repo pressure and add frontend telemetry
  internal/server/session.go
  web/app.js
  web/backend.js
  web/graph/graphController.js
  web/styles.css
  web/telemetry.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Use summary-first bootstrap and lazy hydration path
  internal/server/session.go
  internal/server/types.go
  test/integration/server_integration_test.go
  web/app.js
  web/backend.js
  web/graph/graphController.js
  web/telemetry.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Move analytics to backend and prewarm period caches
  internal/server/analytics.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/server.go
  internal/server/session.go
  web/analyticsView.js
  web/app.js
  web/fileExplorer.js
  web/telemetry.js
Due: gofmt, goimports, govet, staticcheck, gosec

Add arbitrary analytics date ranges and harden frontend parsing
  internal/server/analytics.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/session.go
  web/analyticsView.js
  web/app.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Fix CI
  internal/server/handlers.go
  internal/server/session.go
  web/graph/graphController.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Fix regressions caused by batching wrt analytics
  internal/server/handlers.go
  internal/server/session.go
  test/integration/server_integration_test.go
  web/analyticsView.js
  web/backend.js
  web/search.js
Due: gofmt, goimports, govet, staticcheck, gosec

Fix batching reconnect and bootstrap ref consistency
  internal/server/session.go
  web/backend.js
Due: gofmt, goimports, govet, staticcheck, gosec

Fix CI and add telemetry tab
  .gitignore
  Makefile
  internal/server/session.go
  web/app.js
  web/styles.css
  web/telemetry.js
Due: gofmt, goimports, govet, staticcheck, gosec

remove Telemetry word from button
  web/telemetry.js
Due: none

Use dockview for tab arrangement
  CLAUDE.md
  skills/frontend-design/LICENSE.txt
  skills/frontend-design/SKILL.md
  skills/frontend-design/agents/openai.yaml
  web/analyticsView.js
  web/app.js
  web/index.html
  web/styles.css
  web/workbench.js
Due: none

gitcore: prefer loose refs over packed refs
  internal/gitcore/refs.go
  internal/gitcore/refs_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

enforce force-mode commit threshold and lane-only hydration
  internal/server/session.go
  web/graph/graphController.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Fix CI
  internal/server/handlers.go
  web/app.js
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
  web/graph/utils/palette.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Add light mode fixes
  web/styles.css
  web/workbench.js
Due: none

Update minor styles
  Makefile
  skills/frontend-design/LICENSE.txt
  skills/frontend-design/SKILL.md
  skills/frontend-design/agents/openai.yaml
  web/app.js
  web/indexView.js
  web/styles.css
Due: none

Fix default analytics view
  web/analyticsView.js
  web/app.js
Due: none

Added loading placeholder to analytics
  web/analyticsView.js
  web/app.js
  web/styles.css
Due: none

Add analytics actionable summary and hotspot UI
  web/analyticsView.js
  web/styles.css
Due: none

Add analytics v1 summary, hotspots, and deltas
  internal/server/analytics.go
  internal/server/analytics_test.go
  internal/server/handlers_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add analytics v1 spec and worktree execution plan
  docs/ANALYTICS_V1_SPEC.md
  docs/ANALYTICS_V1_WORKTREE_PLAN.md
Due: none

Refactor CI
  .github/BRANCH_PROTECTION.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  Makefile
  internal/server/analytics.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove unused frontend sidebar/infobar modules
  docs/CLAUDE.md
  docs/PLAN.md
  docs/TODO.md
  web/infoBar.js
  web/sidebar.js
Due: none

Reduce frontend orchestration footprint and add teardown lifecycle
  web/app.js
  web/backend.js
  web/connectionBanner.js
  web/graph/graphController.js
  web/repoUnavailableOverlay.js
Due: js-syntax, js-commonjs

Harden regression tests and refresh pipeline docs
  docs/PIPELINES.md
  internal/cli/help_test.go
  test/e2e/cli_test.go
  test/integration/server_integration_test.go
  web/graph/rendering/graphRenderer.test.js
  web/graph/state/commitIndex.test.js
  web/graph/state/nodeMaterializer.test.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Simplify app bootstrap and deferred view loaders
  web/app.js
Due: none

Fix CI
  Makefile
  internal/server/analytics.go
  internal/server/analytics_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

go mod tidy
  go.mod
  go.sum
Due: none

Fix CI security
  internal/gitcore/pack.go
  internal/gitcore/pack_test.go
  internal/gitcore/refs.go
  internal/gitcore/refs_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix CI please
  Makefile
Due: none

Collapse internal/termcolor into internal/cli
  AGENTS.md
  cmd/gitcli/branch.go
  cmd/gitcli/diff.go
  cmd/gitcli/globals.go
  cmd/gitcli/log.go
  cmd/gitcli/main.go
  cmd/gitcli/show.go
  cmd/gitcli/stash.go
  cmd/gitcli/status.go
  cmd/gitcli/tag.go
  cmd/vista/main.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/color.go
  internal/cli/color_test.go
  internal/cli/help.go
  internal/cli/help_test.go
  internal/progress/spinner.go
  internal/termcolor/color.go
  internal/termcolor/detect.go
Due: gofmt, goimports, govet, staticcheck, gosec

Collapse internal/progress into internal/cli
  cmd/gitcli/main.go
  cmd/vista/main.go
  internal/cli/spinner.go
Due: gofmt, goimports, govet, staticcheck, gosec

Migrate to pterm for cli
  AGENTS.md
  cmd/gitcli/main.go
  cmd/vista/main.go
  go.mod
  go.sum
  internal/cli/color.go
  internal/cli/color_test.go
  internal/cli/help.go
  internal/cli/spinner.go
  internal/cli/theme.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix server logs
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/session.go
  internal/server/session_test.go
  web/app.js
  web/backend.js
Due: gofmt, goimports, govet, staticcheck, gosec
