Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Fast, language-agnostic framework for Git hooks
# Install with: lefthook install
# Run manually with: lefthook run pre-commit

version: 2

# Global settings for all hooks
global:
  # Only run on changed files, not the entire repo
  env:
    # Set working directory context
    GOFLAGS: "-v"

# Pre-commit hook - runs before each commit
pre-commit:
  # Stage changed files for cleanup after hook runs
  follow: true

  parallel: false

  commands:
    # Go formatting check - must pass or commit is blocked
    gofmt:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: gofmt -w {staged_files} && git add {staged_files}
      description: "Format Go code with gofmt"

    # Import formatting - organize and clean imports
    goimports:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if goimports is installed
        if ! command -v goimports &> /dev/null; then
          echo "goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest"
          exit 0
        fi
        goimports -w {staged_files} && git add {staged_files}
      description: "Organize and format Go imports"
      stage_fixed: true

    # Go vet static analysis
    govet:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: go vet ./...
      description: "Run go vet for static analysis"

    # Basic Go linting with staticcheck (must be fast)
    staticcheck:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if staticcheck is installed
        if ! command -v staticcheck &> /dev/null; then
          echo "staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest"
          exit 0
        fi
        staticcheck -checks=all ./...
      description: "Run staticcheck for static analysis"

    # Security check with gosec
    gosec:
      glob: "*.go"
      exclude: "^(vendor/|test/|web/)"
      run: |
        # Check if gosec is installed
        if ! command -v gosec &> /dev/null; then
          echo "gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest"
          exit 0
        fi
        gosec -quiet -no-fail -exclude=G304,G204 ./internal/...
      description: "Check Go code for security issues"

    # JavaScript syntax validation
    js-syntax:
      glob: "web/**/*.js"
      run: |
        # Validate JavaScript syntax without running code
        for file in {staged_files}; do
          if ! node --check "$file" 2>/dev/null; then
            echo "Syntax error in $file"
            exit 1
          fi
        done
      description: "Validate JavaScript syntax"

    # JavaScript CommonJS check
    js-commonjs:
      glob: "web/**/*.js"
      run: |
        # Check for CommonJS patterns that shouldn't be in ES modules
        if grep -n "module.exports\|require(" {staged_files} 2>/dev/null | grep -v "// @allow-commonjs"; then
          echo "Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional"
          exit 1
        fi
      description: "Ensure ES module syntax"

# Pre-push hook - runs before pushing to remote (optional, informational)
# Uncomment to enable additional checks before push
# pre-push:
#   commands:
#     check-tests:
#       run: make test
#       description: "Run test suite before push"
#       stage_fixed: false

Polish shared footer across hosted pages
  web/docsView.js
  web/hostedChrome.js
  web/styles.css
Due: none

Refine hosted docs copy and structure
  docs/site/_meta.json
  docs/site/hosted-mode.md
  docs/site/limits.md
  docs/site/local-mode.md
  docs/site/views.md
Due: none

Refine landing hero preview and swimlane rendering
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graph/types.js
  web/images/landing/hero-preview-desktop-dark.png
  web/images/landing/hero-preview-desktop-light.png
  web/landing/content.js
  web/landing/preview.js
  web/repoLanding.js
  web/styles.css
Due: js-syntax, js-commonjs

Add toggle for lane branch labels
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graphSettings.js
  web/graphSettingsDefaults.js
Due: js-syntax, js-commonjs

Refine landing hero swimlane preview
  web/images/landing/hero-preview-dark.png
  web/images/landing/hero-preview-desktop-dark.png
  web/images/landing/hero-preview-desktop-light.png
  web/images/landing/hero-preview-light.png
  web/images/landing/hero-preview-mobile-dark.png
  web/images/landing/hero-preview-mobile-light.png
  web/landing/content.js
  web/landing/preview.js
  web/styles.css
Due: js-syntax, js-commonjs

Polish landing hero preview behavior
  web/landing/preview.js
  web/repoLanding.js
  web/styles.css
Due: js-syntax, js-commonjs

Add hosted install page scaffold
  web/app.js
  web/docsView.js
  web/installView.js
  web/repoLanding.js
  web/routes.js
  web/routes.test.js
  web/styles.css
Due: none

Add footer brand mark
  web/hostedChrome.js
  web/styles.css
Due: none

Refine landing hero layout and CTA
  web/repoLanding.js
  web/styles.css
Due: none

Polish landing hero scroll cue and proof section
  web/repoLanding.js
  web/styles.css
Due: none

Stabilize hosted graph startup and default to lanes
  internal/repomanager/manager.go
  internal/repomanager/manager_test.go
  web/graph/graphController.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Refine landing hero copy and spacing
  web/repoLanding.js
  web/styles.css
Due: none

chore: remove stale deploy and smoke scripts
  Makefile
  scripts/deploy-saas.sh
  scripts/smoke-test.sh
Due: none

feat: add curl installer and git vista entrypoint
  assets.go
  cmd/vista/main.go
  cmd/vista/main_test.go
  internal/server/server.go
  internal/server/static_handler_test.go
  scripts/install.sh
  web/hostedProduct.js
Due: gofmt, goimports, govet, staticcheck, gosec

Go mod tidy
  go.mod
  go.sum
Due: none

Fix Fly deploy workflow bootstrap and smoke checks
  .github/workflows/deploy.yml
  AGENTS.md
Due: none

Fix Fly deploy workflow for hosted apps
  .github/workflows/deploy.yml
Due: none

Add whitespace in grep for deploy
  .github/workflows/deploy.yml
Due: none

Fix hosted deploy smoke tests
  .github/workflows/deploy.yml
  AGENTS.md
Due: none

Add whitespace in grep for deploy prod
  .github/workflows/deploy.yml
Due: none

Update goreleaser to comply with brew
  .goreleaser.yml
Due: none

Fix goreleaser.yml
  .goreleaser.yml
Due: none

Fix goreleaser.yml docker duplication
  .goreleaser.yml
Due: none

Delete homebrew release path
  .goreleaser.yml
Due: none

Fix landing hero preview viewport height
  web/styles.css
Due: none

Split local app and hosted site products
  Dockerfile
  Makefile
  README.md
  assets.go
  cmd/gitvista-site/main.go
  cmd/vista/main.go
  cmd/vista/main_test.go
  internal/app/local/app.go
  internal/app/site/app.go
  internal/server/middleware_test.go
  internal/server/server.go
  internal/server/static_handler_test.go
  test/integration/server_integration_test.go
  web/app.js
  web/local/app.js
  web/local/index.html
  web/routes.js
  web/routes.test.js
  web/site/app.js
  web/site/docsView.js
  web/site/hostedChrome.js
  web/site/hostedNavigation.js
  web/site/hostedProduct.js
  web/site/index.html
  web/site/installView.js
  web/site/repoLanding.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Rename command entrypoint directories
  DEVELOPMENT.md
  Dockerfile
  Makefile
  README.md
  cmd/cli/branch.go
  cmd/cli/catfile.go
  cmd/cli/diff.go
  cmd/cli/format.go
  cmd/cli/globals.go
  cmd/cli/log.go
  cmd/cli/main.go
  cmd/cli/show.go
  cmd/cli/stash.go
  cmd/cli/status.go
  cmd/cli/tag.go
  cmd/cli/update.go
  cmd/site/main.go
  test/e2e/testutil_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove local mode wording from landing page
  web/site/repoLanding.js
Due: js-syntax, js-commonjs

Add hosted repo loading handoff
  web/gitvista/routes.js
  web/gitvista/routes.test.js
  web/landing/content.js
  web/landing/repoBrowser.js
  web/site/app.js
  web/site/repoLanding.js
  web/site/repoLoadingView.js
  web/styles.css
Due: js-syntax, js-commonjs

Add git vista launcher commands and startup targeting
  cmd/vista/main.go
  cmd/vista/main_test.go
  web/gitvista/app.js
  web/gitvista/routes.js
  web/local/app.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Link landing page desktop section to install flow
  web/site/repoLanding.js
  web/styles.css
Due: js-syntax, js-commonjs

Refine hosted install page setup flow
  web/site/installView.js
  web/styles.css
Due: js-syntax, js-commonjs

Simplify docs layout and add CLI reference
  docs/site/_meta.json
  docs/site/cli.md
  web/site/docsView.js
  web/styles.css
Due: js-syntax, js-commonjs

Rework hosted docs into markdown-driven docs pages
  docs/site/_meta.json
  docs/site/install.md
  internal/server/static_handler_test.go
  web/gitvista/routes.js
  web/site/app.js
  web/site/docsView.js
  web/site/installView.js
  web/site/repoLanding.js
  web/site/repoLoadingView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Fix Table of contents in docs
  web/site/docsView.js
  web/styles.css
Due: js-syntax, js-commonjs

Rename local build outputs to vista and cli
  DEVELOPMENT.md
  Makefile
  QUICK_START.md
  README.md
Due: none

Render docs pages from Markdown on the server
  docs/site/_meta.json
  docs/site/cli.md
  docs/site/install.md
  docs/site/limits.md
  docs/site/local-mode.md
  docs/site/views.md
  go.mod
  go.sum
  internal/server/docs.go
  internal/server/docs_test.go
  internal/server/response_types.go
  web/site/docsView.js
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

Update .gitignore for new executable names
  .gitignore
Due: none

Refine docs page layout and navigation
  docs/site/cli.md
  docs/site/install.md
  docs/site/limits.md
  docs/site/local-mode.md
  docs/site/views.md
  web/site/docsView.js
  web/styles.css
Due: js-syntax, js-commonjs

docs: split config reference from CLI docs
  docs/site/_meta.json
  docs/site/cli.md
  docs/site/config.md
Due: none
