Repository rybkr/gitvista: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Fast, language-agnostic framework for Git hooks
# Install with: lefthook install
# Run manually with: lefthook run pre-commit

version: 2

# Global settings for all hooks
global:
  # Only run on changed files, not the entire repo
  env:
    # Set working directory context
    GOFLAGS: "-v"

# Pre-commit hook - runs before each commit
pre-commit:
  # Stage changed files for cleanup after hook runs
  follow: true

  parallel: false

  commands:
    # Go formatting check - must pass or commit is blocked
    gofmt:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: gofmt -w {staged_files} && git add {staged_files}
      description: "Format Go code with gofmt"

    # Import formatting - organize and clean imports
    goimports:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if goimports is installed
        if ! command -v goimports &> /dev/null; then
          echo "goimports not found. Install with: go install github.com/golang/tools/cmd/goimports@latest"
          exit 0
        fi
        goimports -w {staged_files} && git add {staged_files}
      description: "Organize and format Go imports"
      stage_fixed: true

    # Go vet static analysis
    govet:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: go vet ./...
      description: "Run go vet for static analysis"

    # Basic Go linting with staticcheck (must be fast)
    staticcheck:
      glob: "*.go"
      exclude: "^(vendor/|web/)"
      run: |
        # Check if staticcheck is installed
        if ! command -v staticcheck &> /dev/null; then
          echo "staticcheck not found. Install with: go install honnef.co/go/tools/cmd/staticcheck@latest"
          exit 0
        fi
        staticcheck -checks=all ./...
      description: "Run staticcheck for static analysis"

    # Security check with gosec
    gosec:
      glob: "*.go"
      exclude: "^(vendor/|test/|web/)"
      run: |
        # Check if gosec is installed
        if ! command -v gosec &> /dev/null; then
          echo "gosec not found. Install with: go install github.com/securego/gosec/v2/cmd/gosec@latest"
          exit 0
        fi
        gosec -quiet -no-fail -exclude=G304,G204 ./internal/...
      description: "Check Go code for security issues"

    # JavaScript syntax validation
    js-syntax:
      glob: "web/**/*.js"
      run: |
        # Validate JavaScript syntax without running code
        for file in {staged_files}; do
          if ! node --check "$file" 2>/dev/null; then
            echo "Syntax error in $file"
            exit 1
          fi
        done
      description: "Validate JavaScript syntax"

    # JavaScript CommonJS check
    js-commonjs:
      glob: "web/**/*.js"
      run: |
        # Check for CommonJS patterns that shouldn't be in ES modules
        if grep -n "module.exports\|require(" {staged_files} 2>/dev/null | grep -v "// @allow-commonjs"; then
          echo "Found CommonJS syntax in ES module - use // @allow-commonjs comment if intentional"
          exit 1
        fi
      description: "Ensure ES module syntax"

# Pre-push hook - runs before pushing to remote (optional, informational)
# Uncomment to enable additional checks before push
# pre-push:
#   commands:
#     check-tests:
#       run: make test
#       description: "Run test suite before push"
#       stage_fixed: false

Prevent command injection and SSRF in git clone operations
  internal/repomanager/clone.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add tests for command injection and SSRF protection in clone
  internal/repomanager/clone_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add request body size limit to repo management endpoint
  internal/server/repo_handlers.go
Due: gofmt, goimports, govet, staticcheck, gosec

Deduplicate code across gitcore and server packages
  internal/gitcore/diff.go
  internal/gitcore/objects.go
  internal/gitcore/types.go
  internal/gitcore/worktree_diff.go
  internal/server/handlers.go
  internal/server/status.go
Due: gofmt, goimports, govet, staticcheck, gosec

Remove dead code and consolidate session logic
  internal/server/broadcast.go
  internal/server/session.go
  internal/server/status_test.go
  internal/server/update.go
  web/app.js
  web/graph.js
Due: gofmt, goimports, govet, staticcheck, gosec

Fix goroutine leak in filesystem watcher lifecycle
  internal/server/server.go
  internal/server/watcher.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add server hardening: request logging, CORS, write deadlines, WS security
  internal/server/middleware.go
  internal/server/websocket.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix server pinking and hijack
  internal/server/middleware.go
Due: gofmt, goimports, govet, staticcheck, gosec

Fix CI issues
  internal/repomanager/clone.go
  internal/server/middleware.go
  internal/server/server.go
  internal/server/status.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add analytics sidebar panel with commit velocity trend line
  web/analyticsView.js
  web/app.js
  web/graph/graphController.js
  web/sidebar.js
  web/styles.css
Due: js-syntax, js-commonjs

Add author contributions, activity heatmap, and merge stats charts
  web/analyticsView.js
  web/styles.css
Due: none

Add change size distribution and rework rate charts to analytics panel
  internal/server/handlers.go
  internal/server/server.go
  web/analyticsView.js
  web/app.js
Due: gofmt, goimports, govet, staticcheck, gosec

Tidy up insight styles
  web/styles.css
Due: none

Fix infinite recursion chance in pack delta checker
  internal/gitcore/objects.go
  internal/gitcore/pack.go
  internal/gitcore/pack_test.go
  internal/gitcore/repository.go
  internal/gitcore/types.go
Due: gofmt, goimports, govet, staticcheck, gosec

Make HEAD the default file explorer commit
  web/app.js
  web/fileExplorer.js
Due: none

fix branch names in swimlane headers
  CLAUDE.md
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Replace column-level laneOrder with per-segment independent positioning
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Use per-segment colors and make blue unique to main branch
  web/graph/constants.js
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Enable Rebalance in lane mode and fix cursor/decorator consistency
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Parse mailmap files when present
  internal/gitcore/mailmap.go
  internal/gitcore/mailmap_test.go
  internal/gitcore/repository.go
Due: gofmt, goimports, govet, staticcheck, gosec

add .mailmap for testing
  .mailmap
Due: none

Fix swimlane branch name inference for Phase 2 lane reuse
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Add lane isolation, sticky headers, and segment labels
  web/app.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graph/state/graphState.js
Due: js-syntax, js-commonjs

Redesign swimlane visuals with dev-tool aesthetic
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Prevent commit labels from overlapping branch pills in lane mode
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

improve three area panel
  internal/gitcore/status.go
  internal/server/status.go
  web/stagingView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec

Fix spawn point on swimlanes
  web/graph/constants.js
  web/graph/graphController.js
  web/graph/layout/laneStrategy.js
  web/graph/rendering/graphRenderer.js
Due: js-syntax, js-commonjs

Update styles
  web/graph/rendering/graphRenderer.js
  web/graph/types.js
  web/graph/utils/palette.js
  web/styles.css
Due: js-syntax, js-commonjs

Make commits appear live
  web/graph/graphController.js
Due: js-syntax, js-commonjs

test commit
  README.md
Due: none

Actually make commits appear live
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Add search UI improvements: keyboard nav, parse hints, scope indicator
  web/app.js
  web/search.js
  web/styles.css
Due: none

Add negation, message:/tag: qualifiers, and parse error reporting to search parser
  web/searchQuery.js
Due: none

Add file:/path: qualifiers and animated dimming transitions
  web/app.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/search.js
  web/searchQuery.js
Due: js-syntax, js-commonjs

Fix lane assignment issue with parent commits
  web/graph/layout/laneStrategy.js
Due: js-syntax, js-commonjs

Add N/Shift+N keyboard navigation to cycle through search results
  web/app.js
  web/graph/graphController.js
  web/keyboardHelp.js
  web/keyboardShortcuts.js
  web/search.js
Due: js-syntax, js-commonjs

Add search parser unit tests and test-js CI target
  Makefile
  web/searchQuery.test.js
Due: none

initial implementation of merge preview tab
  internal/gitcore/merge.go
  internal/gitcore/merge_test.go
  internal/gitcore/types.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/server.go
  web/app.js
  web/graph/graphController.js
  web/graph/rendering/graphRenderer.js
  web/graph/state/graphState.js
  web/mergePreviewView.js
  web/sidebar.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec, js-syntax, js-commonjs

make format
  internal/gitcore/merge_test.go
Due: gofmt, goimports, govet, staticcheck, gosec

Add line-level diff viewer with three-way merge support
  internal/gitcore/merge.go
  internal/gitcore/threeway.go
  internal/gitcore/threeway_test.go
  internal/gitcore/types.go
  internal/server/handlers.go
  internal/server/server.go
  web/mergePreviewDiffViewer.js
  web/mergePreviewView.js
  web/styles.css
Due: gofmt, goimports, govet, staticcheck, gosec
